---
name: linter

"on":
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  yamllint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Lint manifest
        uses: actionhippie/yamllint@v1
        with:
          strict: true

...
